.heroContainer {
  position: relative;
  width: 100%;
  height: 100vh; /* Изменил высоту на 100vh, чтобы занять весь видимый экран */
}

.heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hiddenmobile {
  @apply hidden lg:block w-[100%];
}

.hiddenlg {
  @apply lg:hidden;
}
